/* need to change css to fit our website since i copied code from a previous project
 values in the commented areas need to be changed
 feel free to add more stuff */

#navbox {
    background-color: orange;
    border: 1px solid darkorange;
    font-weight: bold;
    height: 60px;
    width: 100%;
    z-index: 1;
    overflow: auto;
}

#navbox.scrolled {
    position: fixed;
    top: 0;
    left: 0;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbutton {
    color: black;
    border-color: black;
    box-shadow: 1px 1px 3px 1px darkorange;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-style: none solid none solid;
    border-width: 1px;
    display: block;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 24px;
}

.navbutton:hover {
    background-color: goldenrod;
    color: white;
    box-shadow: 3px 3px 3px 1px darkorange;
    text-decoration: none;
}

.navbutton.active {
    background-color: yellow;
}